*.pyc
*.zip
*.rar
*.7z
*.mp3
*.wav
.hg/
*.hgignore
*.hgtags
tkimage1.py
tkimage2.py
tk_test01.py
*.bak
traceback.log
*temp/
*torrent_downloads/
*cover_downloads/
result.html
result2.html
result.txt
content.html
putty.log
